; vim: set ft=dosini:
[board]
; Number of threads to show on each page of a board index
;showThreads = 10

; Show the last $board.showReplies of each thread in the board index
;showReplies = 3

; Show the first $board.showTextLines of each post's body in the board index
;showTextLines = 3

; If set to "yes", selectors for individual threads will prefer human-readable
; words as opposed to thread IDs, e.g. 1/$path.board/example/thread/threadword
; instead of 1/$path.board/example/thread/12345
;preferThreadWords = yes

; Delete the oldest (# threads in board - $board.prune) > 0 threads
; This should probably be a multiple of $board.showThreads if you want
; exactly $board.prune / $board.showThreads pages
; Set to 0 to retain all threads indefinitely
;prune = 50

; Deletion password to use for Anonymous posters. Note that to delete an Anonymous
; post, the IP address must match too.
;defaultPassword = password

; Prevent posting for $post.throttle seconds after the last post on the current
; board
;throttle = 120

; Only allow the specified users (separated by a space) to post. Note that this particular
; option has no hardcoded default value, and thus out-of-the box anyone (even Anonymous)
; can post. If specified here, apply to all boards. If specified in a specific board section,
; apply only to that board.
;whitelist = User1 User2 User3

; Whether or not to allow Anonymous posts.
;anonPost = yes

[b]
; Board-specific customizations can be set in their own sections
;throttle = 0
