[server]
; Gopher server domain name
;host = localhost

; Gopher port
;port = 70

[file]
; Path to database file
;db = data/database.sqlite3

; Path to lock file: if this path exists, the BBS will be unavailable
;lock = data/lock

; Path to gophermap - ".rec" is added to the end
; If you changed the name of .gopher in mgod's settings, you must also change
; it here (and move .gopher.rec.sample accordingly)
;gopher = .gopher

; Path to a master wordlist to cherry pick new thread words from
;wordlist = /usr/share/dict/words

; Path to used-up word files. ".$board" will be appended. e.g. the default setting
; will check the "words.$board" file in the CWD
;words = data/words

; Path to uploads ***directory***. In this directory there should be subdirectories
; for each board, suid gopher and guid http.
;upload = ../upload

[path]
; These settings must be kept in sync with your gophermap or nothing will work

; Selector for board access: e.g. if there is a board named "example", the
; selector to view it would be 1/$path.board/example
;board = /

; Selector for posting; e.g. to post you would send a search to
; 7/$path.post/example[/thread]
;post = /post/

; Selector for deleting posts; e.g. to delete a post you would send a search to
; 7/$path.del/example/thread
;del = /del/

; Selector for the uploads directory
;upload = /upload/

[board]
; Number of threads to show on each page of a board index
;showThreads = 10

; Show the last $board.showReplies of each thread in the board index
;showReplies = 3

; Show the first $board.showTextLines of each post's body in the board index
;showTextLines = 3

; If set to "yes", selectors for individual threads will prefer human-readable
; words as opposed to thread IDs, e.g. 1/$path.board/example/thread/threadword
; instead of 1/$path.board/example/thread/12345
;preferThreadWords = yes

; Delete the oldest (# threads in board - $board.prune) > 0 threads
; This should probably be a multiple of $board.showThreads if you want
; exactly $board.prune / $board.showThreads pages
; Set to 0 to retain all threads indefinitely
;prune = 50

[post]
; Prevent posting for $post.throttle seconds after the last post on the current
; board
;throttle = 120
